# This is mostly about speeding up builds by not invalidating Docker layer caching unnecessarily. The files ending up in
# the main instrumentation image are not controlled by this .dockerignore file, they are carefully controlled by the
# last stage of the multi-stage Dockerfile, which only copies the relevant final artifacts from the various build
# stages.
test/
images/instrumentation/python/analyze-dependencies.sh
**/*.o
**/*.javac
**/*.jar
**/*.swp
**/.DS_Store
