version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "09:00"
      timezone: "Europe/Berlin"

  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "/images/configreloader/src"
      - "/images/filelogoffsetsynch/src"
      - "/images/pkg/common"
      - "/images/secretrefresolver/src"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "09:00"
      timezone: "Europe/Berlin"
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

  # Dash0 OpenTelemetry Distro for Node.js
  - package-ecosystem: "npm"
    directory: "images/instrumentation/node.js/"
    schedule:
      interval: "daily"

  # OpenTelemetry Java agent
  - package-ecosystem: "maven"
    directory: "images/instrumentation/jvm/"
    schedule:
      interval: "daily"
