apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://kind.sigs.k8s.io/examples/ingress/deploy-ingress-nginx.yaml

patches:
  - target:
      kind: Deployment
      name: ingress-nginx-controller
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: ingress-nginx-controller
      spec:
        template:
          spec:
            affinity:
              nodeAffinity:
                preferredDuringSchedulingIgnoredDuringExecution:
                  - weight: 100
                    preference:
                      matchExpressions:
                        - key: nginx-ingress
                          operator: In
                          values: ["true"] 
