# Note: The kustomize configs are not used in production, but they are currently still used when setting up the unit
# test environment, like in internal/webhooks/webhook_suite_test.go -> &envtest.Environment#WebhookInstallOptions.
# Thus, they need to be kept in sync with the webhook resources defined in
# helm-chart/dash0-operator/templates/operator/deployment-and-webhooks.yaml.
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name:  dash0-operator-injector
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: injector
    app.kubernetes.io/instance: mutating-webhook
    app.kubernetes.io/part-of: dash0-operator
webhooks:
- name: inject.dash0.com
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: dash0-operator-webhook-service
      namespace: dash0-system
      path: /v1alpha1/inject/dash0
  failurePolicy: Ignore
  rules:
  - apiGroups:
    - apps
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - daemonsets
    - deployments
    - replicasets
    - statefulsets
  - apiGroups:
    - batch
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cronjobs
  - apiGroups:
      - batch
    apiVersions:
      - v1
    operations:
      # do not listen to UPDATE for jobs, we cannot revert instrumentation or do anything on UPDATE requests, since jobs
      # are immutable
      - CREATE
    resources:
      - jobs
  - apiGroups: [""]
    apiVersions:
    - v1
    operations:
    # do not listen to UPDATE for pods, we cannot revert instrumentation or do anything on UPDATE requests, since pods
    # are effectively immutable (we cannot restart ownerless pods)
      - CREATE
    resources:
    - pods
  sideEffects: None
  timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: dash0-operator-operator-configuration-validator
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: operator-configuration-validator-webhook
    app.kubernetes.io/part-of: dash0-operator
webhooks:
  - name: validate-operator-configuration.dash0.com
    clientConfig:
      service:
        name: dash0-operator-webhook-service
        namespace: namespace
        path: /v1alpha1/validate/operator-configuration
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - operator.dash0.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - dash0operatorconfigurations
    sideEffects: None
    timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: dash0-operator-monitoring-mutating
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: monitoring-mutating-webhook
    app.kubernetes.io/part-of: dash0-operator
webhooks:
  - name: mutate-monitoring.dash0.com
    clientConfig:
      service:
        name: dash0-operator-webhook-service
        namespace: dash0-system
        path: /v1alpha1/mutate/monitoring
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - operator.dash0.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - dash0monitorings
    sideEffects: None
    timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: dash0-operator-monitoring-validator
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: monitoring-validator-webhook
    app.kubernetes.io/part-of: dash0-operator
webhooks:
  - name: validate-monitoring.dash0.com
    clientConfig:
      service:
        name: dash0-operator-webhook-service
        namespace: namespace
        path: /v1alpha1/validate/monitoring
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - operator.dash0.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - dash0monitorings
    sideEffects: None
    timeoutSeconds: 5
