# Note: This file might be outdated, see README.md for details.
mode: daemonset
image:
  repository: otel/opentelemetry-collector-k8s
service:
  enabled: true
presets:
  kubernetesAttributes:
    enabled: true
  # kubeletMetrics:
  #   enabled: true
additionalLabels:
  dash0.com/enable: "false"
resources:
  limits:
    memory: 500Mi
config:
  extensions:
    bearertokenauth/dash0:
      scheme: "Bearer"
      token: "$DASH0_AUTHORIZATION_TOKEN"

  receivers:
    jaeger: null
    prometheus: null
    zipkin: null

  processors:
    batch: {}
    k8sattributes:
      extract:
        metadata:
        - k8s.namespace.name
        - k8s.deployment.name
        - k8s.statefulset.name
        - k8s.daemonset.name
        - k8s.cronjob.name
        - k8s.job.name
        - k8s.node.name
        - k8s.pod.name
        - k8s.pod.uid
        - k8s.pod.start_time
      passthrough: false
      pod_association:
      - sources:
        - from: resource_attribute
          name: k8s.pod.ip
      - sources:
        - from: resource_attribute
          name: k8s.pod.uid
      - sources:
        - from: connection

  exporters:
    otlp:
      auth:
        authenticator: bearertokenauth/dash0
      endpoint: "$DASH0_OTEL_EXPORTER_OTLP_ENDPOINT"

  service:
    extensions:
      - health_check
      - memory_ballast
      - bearertokenauth/dash0
    pipelines:
      traces:
        receivers:
          - otlp
        processors:
          - k8sattributes
          - memory_limiter
          - batch
        exporters:
          - otlp
      metrics:
        receivers:
          - otlp
        processors:
          - k8sattributes
          - memory_limiter
          - batch
        exporters:
          - otlp
      logs:
        receivers:
          - otlp
        processors:
          - k8sattributes
          - memory_limiter
          - batch
        exporters:
          - otlp

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false
