mode: daemonset
service:
  enabled: true
additionalLabels:
   dash0.instrumented: "false"
resources:
  limits:
    memory: 500Mi
config:
  extensions:
    bearertokenauth/dash0:
      scheme: "Bearer"
      token: "$DASH0_AUTHORIZATION_TOKEN"

  receivers:
    jaeger: null
    prometheus: null
    zipkin: null

  processors:
    batch: {}

  exporters:
    otlp:
      auth:
        authenticator: bearertokenauth/dash0
      endpoint: "$OTEL_EXPORTER_OTLP_ENDPOINT"

  service:
    extensions:
      - health_check
      - memory_ballast
      - bearertokenauth/dash0
    pipelines:
      traces:
        receivers:
          - otlp
        exporters:
          - otlp
      metrics:
        receivers:
          - otlp
        exporters:
          - otlp
      logs:
        receivers:
          - otlp
        exporters:
          - otlp

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false