mode: daemonset
service:
  enabled: true
resources:
  limits:
    memory: 500Mi
config:
  extensions:
    bearertokenauth/dash0:
      scheme: "Bearer"
      token: "TODO provide token"

  receivers:
    jaeger: null
    prometheus: null
    zipkin: null

  processors:
    batch: {}

  exporters:
    file/traces:
      path: /e2e-test-received-data/traces.jsonl
      flush_interval: 100ms
    file/metrics:
      path: /e2e-test-received-data/metrics.jsonl
      flush_interval: 100ms
    file/logs:
      path: /e2e-test-received-data/logs.jsonl
      flush_interval: 100ms
    otlp:
      auth:
        authenticator: bearertokenauth/dash0
      endpoint: "TODO provide endpoint"

  service:
    extensions:
      - health_check
      - memory_ballast
      - bearertokenauth/dash0
    pipelines:
      traces:
        receivers:
          - otlp
        exporters:
          - file/traces
          - otlp
      metrics:
        receivers:
          - otlp
        exporters:
          - file/metrics
          - otlp
      logs:
        receivers:
          - otlp
        exporters:
          - file/logs
          - otlp

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false

extraVolumes:
  - name: telemetry-file-export
    hostPath:
      path: {TODO provide absolute path to repo}/e2e-test-received-data
      type: DirectoryOrCreate
extraVolumeMounts:
  - name: telemetry-file-export
    mountPath: /e2e-test-received-data