# This resource will be deployed to the namespace test-namespace unless DEPLOY_MONITORING_RESOURCE=false has been
# provided.
apiVersion: operator.dash0.com/v1alpha1
kind: Dash0Monitoring
metadata:
  name: dash0-monitoring-resource
spec:
  instrumentWorkloads: $INSTRUMENT_WORKLOADS
  synchronizePersesDashboards: $SYNCHRONIZE_PERSES_DASHBOARDS
  synchronizePrometheusRules: $SYNCHRONIZE_PROMETHEUS_RULES
  prometheusScrapingEnabled: $PROMETHEUS_SCRAPING_ENABLED
