{{- /*
   * Helm does not have a way to share generated values between files.
   * And it does _actually_ create resources in pre-install / pre-upgrade hooks
   * before rendering the rest of the chart. So, we do not have another way to
   * generate a self-signed cert and use it across deployment, webhook and service
   * other than lumping all these resourceds in the same file.
  */ -}}
{{- $altNames := list ( printf "%s-webhook-service.%s.svc" (include "dash0-operator.chartName" . ) .Release.Namespace ) ( printf "%s-metrics.%s.svc" (include "dash0-operator.chartName" . ) .Release.Namespace ) -}}
{{- $ca := genCA "dash0-operator-ca" 365 -}}
{{- $cert := genSignedCert ( include "dash0-operator.chartName" . ) nil $altNames 365 $ca -}}
{{- /*
   * On upgrade, we want to avoid the webhook service from routing to an older
   * pod, which will use a different certificate. Therefore, we add a digest
   * of the cert as a label of the controller pods, which we can use in service
   * selector to ensure routing to the newer controller pods.
   */ -}}
{{- $certFingerprint := $cert.Cert | b64enc | substr 10 25 | quote }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ include "dash0-operator.chartName" . }}-certificates
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: certificates
    app.kubernetes.io/instance: secret
data:
  ca.crt: {{ $ca.Cert | b64enc }}
  tls.crt: {{ $cert.Cert | b64enc }}
  tls.key: {{ $cert.Key | b64enc }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dash0-operator.deploymentName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: deployment
    {{- include "dash0-operator.labels" . | nindent 4 }}
    dash0.com/enable: "false"
  {{- with .Values.operator.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.operator.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: dash0-operator
      app.kubernetes.io/component: controller
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- if .Values.operator.podAnnotations }}
        {{- include "dash0-operator.podAnnotations" . | nindent 8 }}
        {{- end }}
      labels:
        app.kubernetes.io/name: dash0-operator
        app.kubernetes.io/component: controller
        dash0.com/cert-digest: {{ $certFingerprint }}
        {{- if .Values.operator.podLabels }}
        {{- include "dash0-operator.podLabels" . | nindent 8 }}
        {{- end }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: "dash0.com/enable"
                operator: "NotIn"
                values: ["false"]
      containers:
      - name: manager
        image: {{ include "dash0-operator.image" . | quote }}
        {{- if .Values.operator.image.pullPolicy }}
        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
        {{- end }}
        command:
        - /manager
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
{{- if .Values.operator.dash0Export.enabled }}
{{- if not .Values.operator.dash0Export.endpoint }}
{{- fail "Error: operator.dash0Export.enabled is set to true, but you did not provide a value for operator.dash0Export.endpoint. Please refer to the installation instructions at https://github.com/dash0hq/dash0-operator/tree/main/helm-chart/dash0-operator." -}}
{{- end }}
        - --operator-configuration-endpoint={{ .Values.operator.dash0Export.endpoint }}
{{- if .Values.operator.dash0Export.token }}
        - --operator-configuration-token={{ .Values.operator.dash0Export.token }}
{{- else if (and .Values.operator.dash0Export.secretRef.name .Values.operator.dash0Export.secretRef.key) }}
{{- if not .Values.operator.dash0Export.disableSecretValidation }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace .Values.operator.dash0Export.secretRef.name -}}
{{- if $secret -}}
{{- if not (index $secret.data .Values.operator.dash0Export.secretRef.key) -}}
{{- fail (printf "Error: There is a secret named \"%s\" in the target namespace \"%s\", but it does not have the required key \"%s\". Please refer to the installation instructions at https://github.com/dash0hq/dash0-operator/tree/main/helm-chart/dash0-operator." .Values.operator.dash0Export.secretRef.name .Release.Namespace .Values.operator.dash0Export.secretRef.key) -}}
{{- end -}}
{{- else -}}
{{- fail (printf "Error: There is no secret named \"%s\" in the target namespace \"%s\". Please refer to the installation instructions at https://github.com/dash0hq/dash0-operator/tree/main/helm-chart/dash0-operator." .Values.operator.dash0Export.secretRef.name .Release.Namespace) -}}
{{- end }}
{{- end }}
        - --operator-configuration-secret-ref-name={{ .Values.operator.dash0Export.secretRef.name }}
        - --operator-configuration-secret-ref-key={{ .Values.operator.dash0Export.secretRef.key }}
{{- else }}
{{- fail "Error: operator.dash0Export.enabled is set to true, but neither operator.dash0Export.token nor operator.dash0Export.secretRef.name & operator.dash0Export.secretRef.key have been provided. Please refer to the installation instructions at https://github.com/dash0hq/dash0-operator/tree/main/helm-chart/dash0-operator." -}}
{{- end }}
{{- if .Values.operator.dash0Export.apiEndpoint }}
        - --operator-configuration-api-endpoint={{ .Values.operator.dash0Export.apiEndpoint }}
{{- end }}
        - --operator-configuration-self-monitoring-enabled={{ .Values.operator.selfMonitoringEnabled }}
        - --operator-configuration-kubernetes-infrastructure-metrics-collection-enabled={{ .Values.operator.kubernetesInfrastructureMetricsCollectionEnabled }}
{{- if .Values.operator.clusterName }}
        - --operator-configuration-cluster-name={{ .Values.operator.clusterName }}
{{- end }}
{{- end }} # closes if .Values.operator.dash0Export.enabled
{{- if .Values.operator.dash0Export.dataset }}
        - --operator-configuration-dataset={{ .Values.operator.dash0Export.dataset }}
{{- end }}
{{- if .Values.operator.collectors.filelogOffsetSyncStorageVolume }}
        - --offset-storage-volume='{{ .Values.operator.collectors.filelogOffsetSyncStorageVolume | toJson }}'
{{- end }}
{{- if .Values.operator.instrumentationDelayAfterEachWorkloadMillis }}
        - --instrumentation-delay-after-each-workload-millis={{ .Values.operator.instrumentationDelayAfterEachWorkloadMillis }}
{{- end }}
{{- if .Values.operator.instrumentationDelayAfterEachNamespaceMillis }}
        - --instrumentation-delay-after-each-namespace-millis={{ .Values.operator.instrumentationDelayAfterEachNamespaceMillis }}
{{- end }}
        env:
        - name: DASH0_OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: DASH0_DEPLOYMENT_NAME
          value: {{ include "dash0-operator.deploymentName" . }}
        - name: DASH0_WEBHOOK_SERVICE_NAME
          value: {{ include "dash0-operator.webhookServiceName" . }}
        - name: OTEL_COLLECTOR_NAME_PREFIX
          value: {{ .Release.Name | quote }}
        - name: DASH0_OPERATOR_IMAGE
          value: {{ include "dash0-operator.image" . | quote }}
        - name: DASH0_INIT_CONTAINER_IMAGE
          value: {{ include "dash0-operator.initContainerImage" . | quote }}
        {{- if .Values.operator.initContainerImage.pullPolicy }}
        - name: DASH0_INIT_CONTAINER_IMAGE_PULL_POLICY
          value: {{ .Values.operator.initContainerImage.pullPolicy }}
        {{- end }}
        - name: DASH0_COLLECTOR_IMAGE
          value: {{ include "dash0-operator.collectorImage" . | quote }}
        {{- if .Values.operator.collectorImage.pullPolicy }}
        - name: DASH0_COLLECTOR_IMAGE_PULL_POLICY
          value: {{ .Values.operator.collectorImage.pullPolicy }}
        {{- end }}
        - name: DASH0_CONFIGURATION_RELOADER_IMAGE
          value: {{ include "dash0-operator.configurationReloaderImage" . | quote }}
        {{- if .Values.operator.configurationReloaderImage.pullPolicy }}
        - name: DASH0_CONFIGURATION_RELOADER_IMAGE_PULL_POLICY
          value: {{ .Values.operator.configurationReloaderImage.pullPolicy }}
        {{- end }}
        - name: DASH0_FILELOG_OFFSET_SYNC_IMAGE
          value: {{ include "dash0-operator.filelogOffsetSyncImage" . | quote }}
        {{- if .Values.operator.filelogOffsetSyncImage.pullPolicy }}
        - name: DASH0_FILELOG_OFFSET_SYNC_IMAGE_PULL_POLICY
          value: {{ .Values.operator.filelogOffsetSyncImage.pullPolicy }}
        {{- end }}
        {{- if .Values.operator.developmentMode }}
        - name: DASH0_DEVELOPMENT_MODE
          value: {{ .Values.operator.developmentMode | toString | quote }}
        {{- end }}
        {{- if .Values.operator.collectors.debugVerbosityDetailed }}
        - name: OTEL_COLLECTOR_DEBUG_VERBOSITY_DETAILED
          value: {{ .Values.operator.collectors.debugVerbosityDetailed | toString | quote }}
        {{- end }}
        {{- if gt (int (.Values.operator.collectors.sendBatchMaxSize | default 0)) 0 }}
        - name: OTEL_COLLECTOR_SEND_BATCH_MAX_SIZE
          value: {{ .Values.operator.collectors.sendBatchMaxSize | quote }}
        {{- end }}
        - name: K8S_POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        - name: K8S_NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: K8S_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: K8S_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        resources:
          {{- toYaml .Values.operator.managerContainerResources | nindent 10 }}
        {{ include "dash0-operator.restrictiveContainerSecurityContext" . | nindent 8 }}
        volumeMounts:
        - name: certificates
          mountPath: /tmp/k8s-webhook-server/serving-certs
          readOnly: true
        - name: config-volume
          mountPath: /etc/config
          readOnly: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
      - name: kube-rbac-proxy
        image: quay.io/brancz/kube-rbac-proxy:v0.18.0
        args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          {{- toYaml .Values.operator.kubeRbacProxyContainerResources | nindent 10 }}
        {{ include "dash0-operator.restrictiveContainerSecurityContext" . | nindent 8 }}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{ include "dash0-operator.restrictivePodSecurityContext" . | nindent 6 }}
      serviceAccountName: {{ template "dash0-operator.serviceAccountName" . }}
      automountServiceAccountToken: true
      terminationGracePeriodSeconds: 10
      volumes:
      - name: certificates
        secret:
          defaultMode: 420
          secretName: {{ include "dash0-operator.chartName" . }}-certificates
      - name: config-volume
        configMap:
          name: {{ template "dash0-operator.collectorResourceConfigMapName" . }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dash0-operator.webhookServiceName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: webhook-service
    app.kubernetes.io/instance: webhook-service
    {{- include "dash0-operator.labels" . | nindent 4 }}
spec:
  ports:
  - port: {{ .Values.operator.webhookPort }}
    protocol: TCP
    targetPort: 9443
  selector:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: controller
    dash0.com/cert-digest: {{ $certFingerprint }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ template "dash0-operator.chartName" . }}-injector
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: injector
    app.kubernetes.io/instance: mutating-webhook
    {{- include "dash0-operator.labels" . | nindent 4 }}
webhooks:
- name: inject.dash0.com
  admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ default "" ( $ca.Cert | b64enc ) }}
    service:
      name: {{ template "dash0-operator.chartName" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.operator.webhookPort }}
      path: /v1alpha1/inject/dash0
  failurePolicy: Ignore
  rules:
  - apiGroups:
    - apps
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - daemonsets
    - deployments
    - replicasets
    - statefulsets
  - apiGroups:
    - batch
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cronjobs
  - apiGroups:
      - batch
    apiVersions:
      - v1
    operations:
      # do not listen to UPDATE for jobs, we cannot revert instrumentation or do anything on UPDATE requests, since jobs
      # are immutable
      - CREATE
    resources:
      - jobs
  - apiGroups: [""]
    apiVersions:
    - v1
    operations:
    # do not listen to UPDATE for pods, we cannot revert instrumentation or do anything on UPDATE requests, since pods
    # are effectively immutable (we cannot restart ownerless pods)
      - CREATE
    resources:
    - pods
  sideEffects: None
  timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ template "dash0-operator.chartName" . }}-operator-configuration-validator
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: operator-configuration-validator-webhook
    {{- include "dash0-operator.labels" . | nindent 4 }}
webhooks:
  - name: validate-operator-configuration.dash0.com
    clientConfig:
      caBundle: {{ default "" ( $ca.Cert | b64enc ) }}
      service:
        name: {{ template "dash0-operator.chartName" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        port: {{ .Values.operator.webhookPort }}
        path: /v1alpha1/validate/operator-configuration
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - operator.dash0.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - dash0operatorconfigurations
    sideEffects: None
    timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ template "dash0-operator.chartName" . }}-monitoring-mutating
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: monitoring-mutating-webhook
    {{- include "dash0-operator.labels" . | nindent 4 }}
webhooks:
  - name: mutate-monitoring.dash0.com
    clientConfig:
      caBundle: {{ default "" ( $ca.Cert | b64enc ) }}
      service:
        name: {{ template "dash0-operator.chartName" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        port: {{ .Values.operator.webhookPort }}
        path: /v1alpha1/mutate/monitoring
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - operator.dash0.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - dash0monitorings
    sideEffects: None
    timeoutSeconds: 5
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ template "dash0-operator.chartName" . }}-monitoring-validator
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: validator
    app.kubernetes.io/instance: monitoring-validator-webhook
    {{- include "dash0-operator.labels" . | nindent 4 }}
webhooks:
- name: validate-monitoring.dash0.com
  clientConfig:
    caBundle: {{ default "" ( $ca.Cert | b64enc ) }}
    service:
      name: {{ template "dash0-operator.chartName" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.operator.webhookPort }}
      path: /v1alpha1/validate/monitoring
  admissionReviewVersions:
  - v1
  rules:
    - apiGroups:
      - operator.dash0.com
      apiVersions:
      - v1alpha1
      operations:
      - CREATE
      - UPDATE
      resources:
      - dash0monitorings
  sideEffects: None
  timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dash0-operator.chartName" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: metrics-service
    {{- include "dash0-operator.labels" . | nindent 4 }}
  {{- with .Values.operator.serviceAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ports:
  - name: https
    port: {{ .Values.operator.metricsPort }}
    protocol: TCP
    targetPort: https
  selector:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: controller
    dash0.com/cert-digest: {{ $certFingerprint }}
