{{- $initContainerResources := .Values.operator.initContainerResources }}
{{- if .Values.operator.gke.autopilot.enabled }}
  {{- if not $initContainerResources }}
    {{- $initContainerResources = dict "limits" (dict "ephemeral-storage" "500Mi") "requests" (dict "cpu" "100m" "memory" "128Mi" "ephemeral-storage" "500Mi") }}
  {{- end }}
{{- end }}

{{/*
This ConfigMap contains structured configuration values (as yaml) for the opertor manager, which would be slightly
awkward to transmit as command line arguments or environment variables.
*/}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dash0-operator.extraConfigMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dash0-operator
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: extra-config-map
    {{- include "dash0-operator.labels" . | nindent 4 }}

{{/*
Note: Until version 0.45.1, the collector resource values were supposed to be defined at
operator.collectorDaemonSetCollectorContainerResources; we still allow these value for backwards
compatibility.
*/}}
data:
  extra.yaml: |-
    initContainerResources:
      {{- $initContainerResources | toYaml | nindent 6 }}
{{- if .Values.operator.collectors.filelogOffsetSyncStorageVolume }}
    collectorFilelogOffsetStorageVolume:
      {{- .Values.operator.collectors.filelogOffsetSyncStorageVolume | toYaml | nindent 6 }}
{{- end }}
    collectorDaemonSetCollectorContainerResources:
      {{- toYaml (
            default
              .Values.operator.collectors.daemonSetCollectorContainerResources
              .Values.operator.collectorDaemonSetCollectorContainerResources
          ) | nindent 6 }}
    collectorDaemonSetConfigurationReloaderContainerResources:
      {{- toYaml (
            default
              .Values.operator.collectors.daemonSetConfigurationReloaderContainerResources
              .Values.operator.collectorDaemonSetConfigurationReloaderContainerResources
          ) | nindent 6 }}
    collectorDaemonSetFileLogOffsetSyncContainerResources:
      {{- toYaml (
            default
              .Values.operator.collectors.daemonSetFileLogOffsetSyncContainerResources
              .Values.operator.collectorDaemonSetFileLogOffsetSyncContainerResources
          ) | nindent 6 }}
    daemonSetTolerations:
      {{- toYaml .Values.operator.collectors.daemonSetTolerations | nindent 6 }}
    daemonSetNodeAffinity:
      {{- toYaml .Values.operator.collectors.daemonSetNodeAffinity | nindent 6 }}
{{- if .Values.operator.collectors.daemonSetPriorityClassName }}
    collectorDaemonSetPriorityClassName: {{ .Values.operator.collectors.daemonSetPriorityClassName }}
{{- end }}
    collectorDeploymentCollectorContainerResources:
      {{- toYaml (
            default
              .Values.operator.collectors.deploymentCollectorContainerResources
              .Values.operator.collectorDeploymentCollectorContainerResources
          ) | nindent 6 }}
    collectorDeploymentConfigurationReloaderContainerResources:
      {{- toYaml (
            default
              .Values.operator.collectors.deploymentConfigurationReloaderContainerResources
              .Values.operator.collectorDeploymentConfigurationReloaderContainerResources
          ) | nindent 6 }}
    deploymentTolerations:
      {{- toYaml .Values.operator.collectors.deploymentTolerations | nindent 6 }}
    deploymentNodeAffinity:
      {{- toYaml .Values.operator.collectors.deploymentNodeAffinity | nindent 6 }}
{{- if .Values.operator.collectors.deploymentPriorityClassName }}
    collectorDeploymentPriorityClassName: {{ .Values.operator.collectors.deploymentPriorityClassName }}
{{- end }}
{{- if and .Values.operator.targetAllocator.mTls.enabled (or (not .Values.operator.targetAllocator.mTls.serverCertSecretName) (not .Values.operator.targetAllocator.mTls.clientCertSecretName)) }}
  {{- fail "targetAllocatorMtlsEnabled is set to 'true' but one or both certificate secret names are not provided. Please set both operator.targetAllocator.mTls.serverCertSecretName and operator.targetAllocator.mTls.clientCertSecretName." }}
{{- end }}
    targetAllocatorMtlsEnabled: {{ .Values.operator.targetAllocator.mTls.enabled }}
    targetAllocatorMtlsServerCertSecretName: {{ .Values.operator.targetAllocator.mTls.serverCertSecretName | quote }}
    targetAllocatorMtlsClientCertSecretName: {{ .Values.operator.targetAllocator.mTls.clientCertSecretName | quote }}
    targetAllocatorContainerResources:
      {{- toYaml .Values.operator.targetAllocator.containerResources | nindent 6 }}
    targetAllocatorTolerations:
      {{- toYaml .Values.operator.targetAllocator.tolerations | nindent 6 }}
    targetAllocatorNodeAffinity:
      {{- toYaml .Values.operator.targetAllocator.nodeAffinity | nindent 6 }}
