# This file contains the default values for the Dash0 Operator Helm chart.
# Values can be overriden via --set or by providing additional yaml files when running helm install.

# settings for the operator/controller
operator:

  # Use the operator.dash0Export settings to configure the connection to the Dash0 backend; telemetry will be sent to
  # the configured Dash0 backend by default. Under the hood, this will make sure a Dash0OperatorConfiguration resource
  # will be created right away, when starting the operator. If left empty, you can always create a
  # Dash0OperatorConfiguration resource manually later.
  dash0Export:
    # Set this to true to enable the creation of a Dash0OperatorConfiguration resource at startup. If a
    # Dash0OperatorConfiguration already exists in the cluster, no action will be taken. Note that if this is set to
    # true, you will also need to provide a valid endpoint (operator.dash0Export.endpoint), and either an auth token
    # (operator.dash0Export.token) or a reference to a Kubernetes secret containing that token
    # (operator.dash0Export.secretRef).
    enabled: false

    # The URL of the Dash0 ingress endpoint to which telemetry data will be sent. This property is mandatory if
    # operator.dash0Export.enabled is true, otherwise it will be ignored. The value needs to be the OTLP/gRPC endpoint
    # of your Dash0 organization. The correct OTLP/gRPC endpoint can be copied fom https://app.dash0.com -> organization
    # settings -> "Endpoints" -> "OTLP/gRPC". The correct endpoint value will always start with `ingress.` and end in
    # `dash0.com:4317`.
    endpoint:

    # The dataset to be used for reported telemetry and API access. This property is optional, it defaults to "default".
    # See https://www.dash0.com/documentation/dash0/key-concepts/datasets.
    dataset:

    # The base URL of the Dash0 API to talk to. This is not where telemetry will be sent, but it is used for managing
    # dashboards and check rules via the operator. This property is mandatory. The value needs to be the API endpoint
    # of your Dash0 organization. The correct API endpoint can be copied fom https://app.dash0.com -> organization
    # settings -> "Endpoints" -> "API". The correct endpoint value will always start with "https://api." and end in
    # ".dash0.com"
    apiEndpoint:

    # The Dash0 authorization token. This property is optional, but either this property or the secretRef configuration
    # has to be provided if operator.dash0Export.enabled is true. If operator.dash0Export.enabled is false, this
    # property will be ignored.
    # If both token and secretRef are provided, the token will be used and secretRef will be ignored. The authorization
    # token for your Dash0 organization can be copied from https://app.dash0.com -> organization settings ->
    # "Auth Tokens".
    token:

    # A reference to a Kubernetes secret containing the Dash0 authorization token. This property is optional, and is
    # ignored if either operator.dash0Export.enabled is false or operator.dash0Export.token is set. The authorization
    # token for your Dash0 organization can be copied from https://app.dash0.com -> organization settings ->
    # "Auth Tokens".
    secretRef:
      # The name of the secret containing the Dash0 authorization token. Example: Assume you have created the Kubernetes
      # secret with the following command:
      # kubectl create secret generic \
      #   dash0-authorization-secret \
      #   --namespace dash0-system \
      #   --from-literal=token=auth_...your-token-here...
      #
      # Then you would set the property to "dash0-authorization-secret".
      name:
      # The key of the value which contains the Dash0 authorization token. Assuming you have created the Kubernetes
      # secret with the command above (see property "name"), then you would set the property to "token".
      key:

    # If secretRef is used, the Helm chart will check if the provided secret actually exists. Set this to true to
    # disable this check. This can be useful if you want to render the manifests via the Helm charts without accessing a
    # live Kubernetes cluster.
    disableSecretValidation: false

  # An opt-out for operator self-monitoring. If set to false, self monitoring for the operator will be disabled, that
  # is, the operator will not send self-monitoring telemetry to the Dash0 Insights dataset of the configured Dash0
  # backend. This setting is optional, it defaults to true.
  #
  # This setting has no effect if operator.dash0Export.enabled is false, as no Dash0OperatorConfiguration
  # resource will be created by the Helm chart then.
  selfMonitoringEnabled: true

  # An opt-out for collecting kubernetes infrastructure metrics. If set to false, the operator will not collect
  # Kubernetes infrastructure metrics. This setting is optional, it defaults to true.
  #
  # This setting has no effect if operator.dash0Export.enabled is false, as no Dash0OperatorConfiguration
  # resource will be created by the Helm chart then.
  kubernetesInfrastructureMetricsCollectionEnabled: true

  # If set, the value will be added as the resource attribute k8s.cluster.name to all telemetry. This setting is
  # optional. Per default, the resource attribute k8s.cluster.name will not be added.
  #
  # This setting has no effect if operator.dash0Export.enabled is false, as no Dash0OperatorConfiguration
  # resource will be created by the Helm chart then.
  clusterName: ""

  # number of replica for the controller manager deployment
  replicaCount: 1

  # settings for the service account to be used
  serviceAccount:
    # whether to create a dedicated service account, set this to false if you want to provide a separately
    # created service account
    create: true
    # can be used to override the default name of the serviceaccount (defaults to "dash0-operator-controller-manager")
    name: ""

  # common labels, will be added to all operator resources, example:
  # additionalLabels:
  #   label1: "value 1"
  #   label2: "value 2"
  additionalLabels: {}

  # additional annotations for the controller manager service, example
  # serviceAnnotations:
  #   annotation1: "value 1"
  #   annotation2: "value 2"
  serviceAnnotations: {}

  # additional annotations for the controller manager deployment, example:
  # deploymentAnnotations:
  #   annotation1: "value 1"
  #   annotation2: "value 2"
  deploymentAnnotations: {}

  # additional annotations for the controller manager pod(s), example:
  # podAnnotations:
  #   annotation1: "value 1"
  #   annotation2: "value 2"
  podAnnotations: {}

  # additional labels for the controller manager pod(s), example:
  # podLabels:
  #   label1: "value 1"
  #   label2: "value 2"
  podLabels: {}

  # resources for the controller manager container
  managerContainerResources:
    limits:
      cpu: 500m
      memory: 128Mi
      ephemeral-storage: 500Mi
    requests:
      cpu: 10m
      memory: 64Mi
      ephemeral-storage: 500Mi

  # resources for the kube-rbac-proxy container
  kubeRbacProxyContainerResources:
    limits:
      cpu: 500m
      memory: 128Mi
      ephemeral-storage: 500Mi
    requests:
      cpu: 5m
      memory: 64Mi
      ephemeral-storage: 500Mi

  collectorDaemonSetCollectorContainerResources:
    limits:
      # cpu: (no cpu limit by default)
      memory: 500Mi
      # storage: (no storage limit by default)
      # ephemeral-storage: (no ephemeral-storage limit by default)
    gomemlimit: 400MiB
    requests:
      # cpu: (no cpu request by default)
      memory: 500Mi
      # storage: (no storage request by default)
      # ephemeral-storage: (no ephemeral-storage request by default)
  collectorDaemonSetConfigurationReloaderContainerResources:
    limits:
      # cpu: (no cpu limit by default)
      memory: 12Mi
      # storage: (no storage limit by default)
      # ephemeral-storage: (no ephemeral-storage limit by default)
    gomemlimit: 8MiB
    requests:
      # cpu: (no cpu request by default)
      memory: 12Mi
      # storage: (no storage request by default)
      # ephemeral-storage: (no ephemeral-storage request by default)
  collectorDaemonSetFileLogOffsetSynchContainerResources:
    limits:
      # cpu: (no cpu limit by default)
      memory: 32Mi
      # storage: (no storage limit by default)
      # ephemeral-storage: (no ephemeral-storage limit by default)
    gomemlimit: 24MiB
    requests:
      # cpu: (no cpu request by default)
      memory: 32Mi
      # storage: (no storage request by default)
      # ephemeral-storage: (no ephemeral-storage request by default)

  collectorDeploymentCollectorContainerResources:
    limits:
      # cpu: (no cpu limit by default)
      memory: 500Mi
      # storage: (no storage limit by default)
      # ephemeral-storage: (no ephemeral-storage limit by default)
    gomemlimit: 400MiB
    requests:
      # cpu: (no cpu request by default)
      memory: 500Mi
      # storage: (no storage request by default)
      # ephemeral-storage: (no ephemeral-storage request by default)
  collectorDeploymentConfigurationReloaderContainerResources:
    limits:
      # cpu: (no cpu limit by default)
      memory: 12Mi
      # storage: (no storage limit by default)
      # ephemeral-storage: (no ephemeral-storage limit by default)
    gomemlimit: 8MiB
    requests:
      # cpu: (no cpu request by default)
      memory: 12Mi
      # storage: (no storage request by default)
      # ephemeral-storage: (no ephemeral-storage request by default)

  # the port for the metrics service
  metricsPort: 8443

  # the port for the admission webhook service which instruments new workloads at deploy time
  webhookPort: 443

  # the container image to use for the controller manager component (there should usually be no reason to override this)
  image:
    # Use a different image entirely. Note that Dash0 does not offer support for Dash0 operator setups that do not use
    # Dash0's official image.
    repository: "ghcr.io/dash0hq/operator-controller"
    # overrides the image tag, which defaults to the chart appVersion
    tag:
    # pull image by digest instead of tag; if this is set, the tag value will be ignored
    digest:
    # override the default image pull policy
    pullPolicy:

  # the container image to use for the instrumentation init container
  # (there should usually be no reason to override this)
  initContainerImage:
    # Use a different image for the init container entirely. Note that Dash0 does not offer support for Dash0 operator
    # setups that do not use Dash0's official init container image.
    repository: "ghcr.io/dash0hq/instrumentation"
    # overrides the image tag, which defaults to the chart appVersion.
    tag:
    # pull image by digest instead of tag; if this is set, the tag value will be ignored
    digest:
    # override the default image pull policy
    pullPolicy:

  # the container image to use for the collector component (there should usually be no reason to override this)
  collectorImage:
    repository: "ghcr.io/dash0hq/collector"
    # overrides the image tag, which defaults to the chart appVersion.
    tag:
    # pull image by digest instead of tag; if this is set, the tag value will be ignored
    digest:
    # override the default image pull policy
    pullPolicy:

  # the container image to use for the configuration reloader of the collector component
  # (there should usually be no reason to override this)
  configurationReloaderImage:
    repository: "ghcr.io/dash0hq/configuration-reloader"
    # overrides the image tag, which defaults to the chart appVersion.
    tag:
    # pull image by digest instead of tag; if this is set, the tag value will be ignored
    digest:
    # override the default image pull policy
    pullPolicy:

  # the container image to use for the synching of the offset files for the filelog receiver
  # (there should usually be no reason to override this)
  filelogOffsetSynchImage:
    repository: "ghcr.io/dash0hq/filelog-offset-synch"
    # overrides the image tag, which defaults to the chart appVersion.
    tag:
    # pull image by digest instead of tag; if this is set, the tag value will be ignored
    digest:
    # override the default image pull policy
    pullPolicy:

  # the image pull secrets to pull the container images
  imagePullSecrets: [ ]

  # If set to true, instructs the logger (Zap) to use a Zap development config (stacktraces on warnings, no sampling),
  # otherwise a Zap production config will be used (stacktraces on errors, sampling).
  developmentMode: false
