# SPDX-FileCopyrightText: Copyright 2024 Dash0 Inc.
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: dash0-operator-nodejs-20-express-test-replicaset-service
spec:
  selector:
    app: dash0-operator-nodejs-20-express-test-replicaset-app
  ports:
    - port: 1209
      targetPort: 1209
  type: LoadBalancer
---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: dash0-operator-nodejs-20-express-test-replicaset
  labels:
    app: dash0-operator-nodejs-20-express-test-replicaset-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dash0-operator-nodejs-20-express-test-replicaset-app
  template:
    metadata:
      labels:
        app: dash0-operator-nodejs-20-express-test-replicaset-app
    spec:
      containers:
        - name: dash0-operator-nodejs-20-express-test-replicaset-app
          image: "dash0-operator-nodejs-20-express-test-app:latest"
          env:
            - name: PORT
              value: "1209"
            - name: DASH0_DEBUG
              value: "true"
          ports:
            - containerPort: 1209
          imagePullPolicy: Never
          readinessProbe:
            httpGet:
              path: /ready
              port: 1207
            initialDelaySeconds: 5
            periodSeconds: 10