# SPDX-FileCopyrightText: Copyright 2024 Dash0 Inc.
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: dash0-operator-nodejs-20-express-test-service
spec:
  selector:
    app: dash0-operator-nodejs-20-express-test-app
  ports:
    - port: 1207
      targetPort: 1207
  type: LoadBalancer
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: dash0-operator-nodejs-20-express-test-statefulset
spec:
  selector:
    matchLabels:
      # has to match .spec.template.metadata.labels
      app: dash0-operator-nodejs-20-express-test-app
  serviceName: "dash0-operator-nodejs-20-express-test-service"
  replicas: 1
  template:
    metadata:
      labels:
        app: dash0-operator-nodejs-20-express-test-app
    spec:
      terminationGracePeriodSeconds: 3
      containers:
        - name: dash0-operator-nodejs-20-express-test-app
          image: "dash0-operator-nodejs-20-express-test-app:latest"
          env:
            - name: DASH0_DEBUG
              value: "true"
          ports:
            - containerPort: 1207
          imagePullPolicy: Never
