# SPDX-FileCopyrightText: Copyright 2024 Dash0 Inc.
# SPDX-License-Identifier: Apache-2.0
dist:
  module: github.com/dash0hq/dash0-operator
  name: dash0-operator-collector
  description: OpenTelemetry collector managed by the Dash0 operator
  version: "0.146.0"
  output_path: dist
extensions:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/storage/filestorage v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension v0.145.0"
providers:
  - gomod: "go.opentelemetry.io/collector/confmap/provider/envprovider v1.51.0"
  - gomod: "go.opentelemetry.io/collector/confmap/provider/fileprovider v1.51.0"
receivers:
  - gomod: "go.opentelemetry.io/collector/receiver/otlpreceiver v0.146.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/filelogreceiver v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/hostmetricsreceiver v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8sclusterreceiver v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8seventsreceiver v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/kubeletstatsreceiver v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver v0.145.0"
processors:
  - gomod: "go.opentelemetry.io/collector/processor/batchprocessor v0.146.0"
  - gomod: "go.opentelemetry.io/collector/processor/memorylimiterprocessor v0.146.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor v0.145.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor v0.145.0"
connectors:
  - gomod: "go.opentelemetry.io/collector/connector/forwardconnector v0.146.0"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/connector/routingconnector v0.145.0"
exporters:
  - gomod: "go.opentelemetry.io/collector/exporter/debugexporter v0.146.0"
  - gomod: "go.opentelemetry.io/collector/exporter/otlpexporter v0.146.0"
  - gomod: "go.opentelemetry.io/collector/exporter/otlphttpexporter v0.146.0"
