operator:
  image:
    repository: operator-controller
    tag: latest
    pullPolicy: Never
  initContainerImage:
    repository: instrumentation
    tag: latest
    pullPolicy: Never

opentelemetry-collector:
  config:
    # Remove the bearertokenauth/dash0 extension, we do not need it for the e2e tests
    # (and we also do not want to configure an auth token).
    extensions: null

    exporters:

      # Remove the otlp exporter sending data to an actual backend, this is not required for the e2e tests (which
      # end at the local OTel collector instance).
      otlp: null

      file/traces:
        path: /collector-received-data/traces.jsonl
        flush_interval: 100ms
      file/metrics:
        path: /collector-received-data/metrics.jsonl
        flush_interval: 100ms
      file/logs:
        path: /collector-received-data/logs.jsonl
        flush_interval: 100ms

    service:
      extensions:
        - health_check
        - memory_ballast
      pipelines:
        traces:
          exporters:
            - file/traces
        metrics:
          exporters:
            - file/metrics
        logs:
          exporters:
            - file/logs

  extraVolumes:
    - name: telemetry-file-export
      hostPath:
        path: $PWD/test-resources/e2e-test-volumes/collector-received-data
        type: DirectoryOrCreate
  extraVolumeMounts:
    - name: telemetry-file-export
      mountPath: /collector-received-data

