apiVersion: operator.dash0.com/v1alpha1
kind: Dash0OperatorConfiguration
metadata:
  name: dash0-operator-configuration-resource
spec:
  export:
    dash0:
      endpoint: "$DASH0_INGRESS_ENDPOINT"
      authorization:
        # Note: without an explicit name and key attribute, the defaults will be used:
        #   name: dash0-authorization-secret
        #   key: token
        secretRef: {}
      apiEndpoint: "$DASH0_API_ENDPOINT"
