apiVersion: operator.dash0.com/v1alpha1
kind: Dash0OperatorConfiguration
metadata:
  name: dash0-operator-configuration-resource
spec:
  export:
    dash0:
      endpoint: "$DASH0_INGRESS_ENDPOINT"
      authorization:
        token: "$DASH0_AUTHORIZATION_TOKEN"
      apiEndpoint: "$DASH0_API_ENDPOINT"
