apiVersion: operator.dash0.com/v1alpha1
kind: Dash0Monitoring
metadata:
  name: dash0-monitoring-resource-e2e
spec:
  instrumentWorkloads: {{ .InstrumentWorkloads }}
  ingressEndpoint: {{ .IngressEndpoint }}
