apiVersion: operator.dash0.com/v1alpha1
kind: Dash0OperatorConfiguration
metadata:
  name: dash0-operator-configuration-resource-e2e
spec:
  selfMonitoring:
    enabled: {{ .SelfMonitoringEnabled }}
{{- if .Endpoint }}
  export:
    dash0:
      endpoint: {{ .Endpoint }}
      authorization:
        token: {{ .Token }}
      apiEndpoint: {{ .ApiEndpoint }}
{{- end }}
  clusterName: {{ .ClusterName }}
  telemetryCollection:
    enabled: {{ .TelemetryCollectionEnabled }}
