apiVersion: operator.dash0.com/v1alpha1
kind: Dash0View
metadata:
  name: view-e2e-test
  annotations:
    dash0.com/folder-path: "/test-folder"
  labels:
    app.kubernetes.io/name: view-e2e-test
{{- if .Dash0ComEnabled }}
    dash0.com/enabled: {{ .Dash0ComEnabled | quote }}
{{- end }}
    dash0.com/dataset: default
    dash0.com/id: 14cdf74a-3b1c-48a3-ab6a-b97910853760
    dash0.com/source: userdefined
    dash0.com/version: "1"
spec:
  type: logs
  display:
    name: E2E test view
    description: A test view for the e2e-test for synchronizing views with the Dash0 Operator.
  filter:
    - key: service.name
      operator: is_one_of
      values:
        - operator-manager
        - dash0-operator-collector
    - key: otel.log.severity.number
      operator: gte
      value: "13"
  groupBy:
    - otel.log.severity.range
  table:
    columns:
      - colSize: min-content
        key: otel.log.severity.range
        label: Severity
      - colSize: min-content
        key: otel.log.time
        label: Time
      - key: dash0.resource.id
        label: Resource
      - key: otel.log.body
        label: Body
      - colSize: min-content
        key: dash0.trace.context
    sort:
      - direction: descending
        key: otel.log.time
  visualizations:
    - metric: logs_total
      renderers: []
      yAxisScale: linear