apiVersion: operator.dash0.com/v1alpha1
kind: Dash0Monitoring
metadata:
  name: dash0-monitoring-resource-e2e
spec:
  instrumentWorkloads: {{ .InstrumentWorkloads }}
{{- if .Endpoint }}
  export:
    dash0:
      endpoint: {{ .Endpoint }}
      authorization:
        token: {{ .Token }}
{{- end }}
{{- if .Filter }}
  filter:
  {{- .Filter | indent 4 -}}
{{- end }}