apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: prometheus-rules-e2e-test
  labels:
    prometheus: example
    role: alert-rules
    dash0.com/dataset: default
    dash0.com/id: 14cdf74a-3b1c-48a3-ab6a-b97910853760
    dash0.com/source: userdefined
    dash0.com/version: "1"
spec:
  groups:
    - name: dash0/k8s
      interval: 5m
      rules:
        - alert: K8s Deployment replicas mismatch
          expr: "kube_deployment_spec_replicas != kube_deployment_status_replicas_available"
          for: 10s
          keep_firing_for: 10s
          annotations:
            description: "K8s Deployment replicas mismatch"
            summary: "K8s Deployment replicas mismatch"
            some-annotation: "another annotation"
          labels:
            label-1: label value 1
            label-2: label value 2
            label-3: label value 3
        - alert: K8s pod crash looping
          expr: "increase(kube_pod_container_status_restarts_total[1m]) > $__threshold"
          annotations:
            description: "Pod labels.namespace/labels.pod is crash looping. VALUE = value, LABELS = labels"
            summary: "K8s pod crash looping K8s pod crash looping"
            dash0-threshold-degraded: "10"
            dash0-threshold-critical: "15"
        - record: will be skipped
          expr: "vector(1)"
    - name: dash0/collector
      interval: 10m
      rules:
        - alert: exporter send failed spans
          expr: "sum by (cloud_region) (rate(otelcol_exporter_send_failed_spans_total{}[1m])) > $__threshold"
          for: 5m
          annotations:
            description: "dash0-collector - exporter send failed spans"
            summary: "dash0-collector - exporter send failed spans"
            dash0-threshold-degraded: "1000"
            dash0-threshold-critical: "2000"