# A single kube context name that should be used when running the e2e tests. The e2e test will switch to this context at
# the start of the test suite and switch back to the original context after the tests have finished.
E2E_KUBECTX=docker-desktop

# A comma separated lists of kube context names that the scripts in test-resources/bin are allowed to talk to. This is a
# safety measure to prevent the local testing accidentally modifying a production cluster.
ALLOWED_KUBECTXS=docker-desktop

# The authorization token for the dash0-operator service account. This is used for the scripts in test-resources/bin,
# if you want to report data from a test-cluster to an actual Dash0 backend.
DASH0_AUTHORIZATION_TOKEN=
