# A single kube context name that should be used when running the e2e tests. The e2e test will switch to this context at
# the start of the test suite and switch back to the original context after the tests have finished.
E2E_KUBECTX=docker-desktop

# Print details about each request sent to the application under test.
# E2E_VERBOSE_HTTP=false

# A comma separated lists of kube context names that the scripts in test-resources/bin are allowed to talk to. This is a
# safety measure to prevent the local testing accidentally modifying a production cluster.
ALLOWED_KUBECTXS=docker-desktop

# dev ingress/api
DASH0_INGRESS_ENDPOINT=ingress.eu-west-1.aws.dash0-dev.com:4317
DASH0_API_ENDPOINT=https://api.eu-west-1.aws.dash0-dev.com

# prod ingress/api
# DASH0_INGRESS_ENDPOINT=ingress.eu-west-1.aws.dash0.com:4317
# DASH0_API_ENDPOINT=https://api.eu-west-1.aws.dash0.com

# The authorization token for the dash0-operator service account. This is used for the scripts in test-resources/bin,
# if you want to report data from a test-cluster to an actual Dash0 backend.
DASH0_AUTHORIZATION_TOKEN=
