# See CONTRIBUTING.md -> "Setting Up a Kind Cluster for Local Testing" for instructions.
#
# This kind-config is intended to be used with a local registry and is the default config used by
# `test-resources/bin/create_cluster_and_registry.sh`.
#
# Before creating a cluster with this config, the hostPath settings below need to be aligned with your local file
# system structure.
#
# Alternatively, create a symbolic link from
# /Users/username/dash0/code/dash0-operator/test-resources/e2e/volumes to the actual path, with "username" as a literal
# (do not replace this with your actual username).
#
# That is, run the following commands:
#     mkdir -p /Users/username/dash0/code/dash0-operator/test-resources/e2e
#     cd /Users/username/dash0/code/dash0-operator/test-resources/e2e/volumes
#     ln -s /${the-actual-path-to-your-dash0-operator-repository}/test-resources/e2e/volumes volumes
#
# When using Docker Desktop, make sure the path mentioned under `hostPath` is listed under "Resources -> File sharing".

---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: /Users/username/dash0/code/dash0-operator/test-resources/e2e/volumes/filelog-offsets
        containerPath: /offset-storage
  - role: worker
    extraPortMappings:
      - containerPort: 80
        hostPort: 8080
        protocol: TCP
      - containerPort: 443
        hostPort: 4443
        protocol: TCP
    labels:
      nginx-ingress: "true"
    extraMounts:
      - hostPath: /Users/username/dash0/code/dash0-operator/test-resources/e2e/volumes/offset-storage
        containerPath: /offset-storage
  - role: worker
    extraMounts:
      - hostPath: /Users/username/dash0/code/dash0-operator/test-resources/e2e/volumes/offset-storage
        containerPath: /offset-storage
