name: Check for OpenTelemetry Collector Component Updates

on:
  schedule:
    - cron: "15 08 * * MON-FRI"

  workflow_dispatch:

jobs:
  check-and-update:
    name: check for new available OpenTelemetry collector components  and update the builder config
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: check if open PR already exists
        id: open_pr_exists
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: .github/workflows/scripts/update-collector-components-check-if-pr-exists.sh

      - name: update component versions and create PR
        if: steps.open_pr_exists.outputs.pr_exists != 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: .github/workflows/scripts/update-collector-components-create-pr.sh
